# --- Virtual Environment ---
venv/
env/
ENV/

# --- Python Cache ---
__pycache__/
*.py[cod]
*$py.class

# --- Environment Variables & Secrets ---
.env

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Databases ---
*.sqlite3

# --- Node / Frontend ---
node_modules/
dist/

# --- Jupyter ---
.ipynb_checkpoints/
